a{
    text-decoration: none;
}
#header{
    color:rgba(0, 0, 0, 0.795);
    background-color: white;
}


#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}



 h6{
   font-weight: bold; 
   font-size: 30px;
}

.col-md-2:hover{

    background-color:rgb(105, 194, 253);
}

#menu li{
    display: inline-block;
}

#menu li a{
color: black;
padding: 15px 6px;
display: block;
font-size: 13px;
}

#menu li a:hover{
background-color:rgb(105, 194, 253);
}

#banner{

    background-color: rgb(105, 194, 253);

}

.banner-content{

    padding: 5rem 0;

}

button{
    border: none;
}

button:hover{
    background-color:  rgb(33, 145, 219);
    color: white;
}

